<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="./style/detail.css">

</head>
<body>
      <nav id="navbar">
        <div class="logo">  <a href="/">  <img src="./Pictures/logo.png" alt=""></a></div>
        <ul class="con">
                
                <li class="item"> <a href="/">Home</a> </li>
                <li class="item"> <a href="/information">Information</a></li>
                <li class="item"> <a href="/location">Location</a> </li>
                <li class="item"> <a href="/contact">Contact</a></li>
                <li class="item"> <a href="/detail">Test Detail</a></li>
        </ul><div class="login">
          <!-- <a href="/login"> <img src="./Pictures/login.png" alt=""></a></div> -->
    <% if (user) { %>
    <div class="log">
    <a href="/logout" class="item" id="logout">Logout</a>
    <h1 class="item" id="username"><%= user.username %></h1>
    </div>
  <% } else { %>
    <a href="/login"> <img src="./Pictures/login.png" alt=""></a>
  <% } %>
  </div>
    </nav>
<%if(user ){%>
<% if ( bookings.length > 0) { %>
  <h2 class="title">&bull; Bookings for <%= user.username %> (Email: <%= bookings[0].email %>)</h2>
<% let i = 1; %> 
  <table border="1" class="table">
    <tr>
      
      <th>No.</th>
      <th>Test Type</th>
      <th>Test Format</th>
      <th>City</th>
      <th>Exam Date</th>
    </tr>
    <% bookings.forEach(b => { %>
      <tr>
        <td><%= i++ %></td>
        <td><%= b.test_type %></td>
        <td><%= b.test_format %></td>
        <td><%= b.test_city %></td>
        <td><%= b.exam_date %></td>
      </tr>
    <% }) %>
  </table>
<% } else { %>
  <p id="not_login">&bull; No bookings found.</p>
<% } %>
<% } else { %>
 <p id="not_login">&bull; Please login.</p>
<% } %>
</body>
</html>